*_fastq/
*_output/
*_trim/
pipits_db/
demux_files/
logs/
reads/
*.pyc
.snakemake/
snakejob*
transfer*
*.tsv
*.swp
manifest.csv
.DS_Store
.Rproj.user
ITS_PIPITS_BROCC.Rproj
.Rhistory
upload.log
.vscode/settings.json
slurm*.out
